.button {
  -fx-display: inline-block;
  -fx-background-color: #616e88;
  -fx-color: #7c2f1c;
}

.label {
    -fx-font-family: Calibri;
    -fx-font-weight:bold;
}

.fx-table-view {
  -fx-background-color: #ffffff;
}

.fx-table-view .column-header-background {
  -fx-background-color: #345678;
  -fx-text-fill: #ffffff;
}

.fx-table-view .column-header, .fx-table-cell {
  -fx-alignment: center-left;
  -fx-font-family: Arial, sans-serif;
  -fx-font-size: 14px;
}

.fx-table-view .table-cell {
  -fx-padding: 8px;
  -fx-border-color: #345678;
  -fx-border-width: 0.5px;
}

.fx-table-view .table-row-cell:even {
  -fx-background-color: #f2f2f2;
}

.fx-table-view .table-row-cell:selected {
  -fx-background-color: #345678;
  -fx-text-fill: #ffffff;
}
